<!-- Hero Image -->
<div class="hero">
  <div class="hero_spacer">
      <img src="assets/rubybanner.jpg" class="hero2" />
  </div>
</div>

<!-- About Section -->
<div class="about col-lg-4 col-md-5 col-xs-12 col-lg-offset-4 col-md-offset-4 col-xs-offset-">
	<h3 class="abouttitle" align="center">Multiplayer Chess Application</h3>
	<p class="aboutdescription">Ruby Knights Chess is a multiplayer chess game built using Ruby on Rails and JavaScript. This chess game allows you to play chess online with friends, or even play against other strangers to see who is the better chess players! This multiplayer game functions just like a real chess game.</p>
</div>

<!-- CODE -->
<div class="code col-lg-12 col-md-12 col-xs-12">
	<h1 align="center" class="abouttitle">CODE</h1>
	<p align="center" class="aboutdescription breakdown">Breakdown of our application</p>
	<br>
</div>


<!-- SNIPPET Section 1 -->
	<div class="codesnippet col-lg-7 col-md-7 col-xs-12">
		<img src="assets/ifchecksplash.png" style="height: 375px;" class="img-responsive">
	</div>

	<div class="codesnippetright col-lg-5 col-md-5 col-xs-12">

		<h3 class="snippettitle">def if_check?(board)</h3>
		<p class="snippetdescription">About the code snippet goes right here. About the code snippet goes right here. About the code snippet goes right here. About the code snippet goes right here.</p>
	</div>



<!-- SNIPPET Section 2 -->
	<div class="codesnippet2 col-lg-6 col-md-6 col-xs-12">
		<h3 class="snippettitle">About Code Snippet</h3>
		<p class="snippetdescription">About the code snippet goes right here. About the code snippet goes right here. About the code snippet goes right here. About the code snippet goes right here.</p>
		<br><br>
		<h3 class="snippettitle">SubHeader</h3>
		<p class="snippetdescription">
		More content goes here. More content goes here. More content goes here.
		</p>
	</div>

	<div class="codesnippet3 col-lg-6 col-md-6 col-xs-12">
		<img src="assets/jssplash.png" class="img-responsive" style="height: 680px;">
	</div>



<!-- SNIPPET Section 3 -->
	<div class="codesnippet5 col-lg-7 col-md-7 col-xs-12">
		<img src="assets/chessboard.png" class="img-responsive" style="height: 680px;">
	</div>

	<div class="codesnippet4 col-lg-5 col-md-5 col-xs-12">
		<h3 class="snippettitle">Movement</h3>
		<p class="snippetdescription">About the code snippet goes right here. About the code snippet goes right here. About the code snippet goes right here. About the code snippet goes right here.</p>
		<br><br>
		<h3 class="snippettitle">SubHeader</h3>
		<p class="snippetdescription">
		More content goes here. More content goes here. More content goes here.
		</p>
	</div>




<!-- Skills Used -->
<div class="skills col-lg-12 col-md-12 col-xs-12" align="center">

<h1 class="skills abouttitle">Skills We Used</h1>

<br><br>

	<div class="skills col-lg-3 col-md-3 col-xs-3">
		<img src="assets/htmlicon.png">
		<h3>HTML5</h3>
	</div>

	<div class="skills col-lg-3 col-md-3 col-xs-3">
		<img src="assets/rubyicon.png">
		<h3>RUBY</h3>
	</div>

	<div class="skills col-lg-3 col-md-3 col-xs-3">
		<img src="assets/railsicon.png">
		<h3>RAILS</h3>
	</div>

	<div class="skills col-lg-3 col-md-3 col-xs-3">
		<img src="assets/javascripticon.png">
		<h3>JAVASCRIPT</h3>
	</div>

</div>


<!-- Tools Used -->
<div class="toolssection col-lg-12 col-md-12 col-xs-12" align="center">
<hr>
	<h1 class="skills abouttitle">Our Valuable Toolset</h1>
<br><br>


	<div class="col-lg-1 col-md-1 col-xs-1">
	</div>


	<div class="skills col-lg-2 col-md-2 col-xs-2">
		<img src="assets/codeshiplogo.png" style="width: 160px; height: 160px;">
		<h3>CODESHIP</h3>
	</div>


	<div class="skills col-lg-2 col-md-2 col-xs-2">
		<img src="assets/githublogo.svg" style="width: 160px; height: 160px;">
		<h3>GITHUB</h3>
	</div>


	<div class="skills col-lg-2 col-md-2 col-xs-2">
		<img src="assets/herokulogo.png" style="width: 160px; height: 160px;">
		<h3>HEROKU</h3>
	</div>


	<div class="skills col-lg-2 col-md-2 col-xs-2">
		<img src="assets/trellologo.png" style="width: 160px; height: 160px;">
		<h3>TRELLO</h3>
	</div>


	<div class="skills col-lg-2 col-md-2 col-xs-2">
		<img src="assets/slacklogo.png" style="width: 160px; height: 160px;">
		<h3>SLACK</h3>
	</div>


	<div class="col-lg-1 col-md-1 col-xs-1">
	</div>

</div>



<!-- FOOTER TEAM SECTION -->
<div class="team col-lg-12 col-md-12 col-xs-12">

<h1 class="abouttitle" align="center" style="color: black;">RUBY KNIGHTS TEAM</h1>
<div class="col-lg-1 col-md-1"></div>

	<div class="col-lg-2 col-md-2" align="center">
		<img src="assets/chase.jpg" style="width: 170px; height: 170px;" class="img-rounded mobilepic">
		<h3 style="color: white;">Chase Bristow</h3>
		<a href="https://github.com/CBristow26"><img src="assets/githubicon.png" style="height: 36px; width: 36px;" hspace="7"></a>
		<a href="https://www.linkedin.com/in/chase-bristow-391866131"><img src="assets/linkedinicon.png" style="height: 36px; width: 36px;" hspace="7"></a>
		<img src="assets/twittericon.png" style="height: 36px; width: 36px;" hspace="7">
	</div>

  <div class="col-lg-2 col-md-2" align="center">
		<img src="assets/patrick.jpg" style="width: 170px; height: 170px;" class="img-rounded">
		<h3 style="color: white;">Patrick Hagmann</h3>
		<a href="https://github.com/phagmann"><img src="assets/githubicon.png" style="height: 36px; width: 36px;" hspace="7"></a>
		<a href="https://www.linkedin.com/in/patrick-hagmann-972116121"><img src="assets/linkedinicon.png" style="height: 36px; width: 36px;" hspace="7"></a>
		<a href="https://twitter.com/patrick_hagmann"><img src="assets/twittericon.png" style="height: 36px; width: 36px;" hspace="7"></a>
	</div>

  <div class="col-lg-2 col-md-2" align="center">
		<img src="assets/chi.jpg" style="width: 170px; height: 170px;" class="img-rounded">
		<h3 style="color: white;">Chi-Ying Leung</h3>
		<a href="https://github.com/chiyingleung1"><img src="assets/githubicon.png" style="height: 36px; width: 36px;" hspace="7"></a>
		<a href="https://www.linkedin.com/in/chiyingleung"><img src="assets/linkedinicon.png" style="height: 36px; width: 36px;" hspace="7"></a>
		<img src="assets/twittericon.png" style="height: 36px; width: 36px;" hspace="7"></a>
	</div>

	<div class="col-lg-2 col-md-2" align="center">
		<img src="assets/lulu.jpg" style="width: 170px; height: 170px;" class="img-rounded">
		<h3 style="color: white;">Lulu Li</h3>
		<a href="https://github.com/lalalilu"><img src="assets/githubicon.png" style="height: 36px; width: 36px;" hspace="7"></a>
		<img src="assets/linkedinicon.png" style="height: 36px; width: 36px;" hspace="7">
		<img src="assets/twittericon.png" style="height: 36px; width: 36px;" hspace="7">
	</div>

	<div class="col-lg-2 col-md-2" align="center">
		<img src="assets/dan.png" style="width: 170px; height: 170px;" class="img-rounded">
		<h3 style="color: white;">Dan Zuba</h3>
		<a href="https://github.com/zube41"><img src="assets/githubicon.png" style="height: 36px; width: 36px;" hspace="7"></a>
		<a href="https://www.linkedin.com/in/danzuba"><img src="assets/linkedinicon.png" style="height: 36px; width: 36px;" hspace="7"></a>
		<a href="https://twitter.com/zube41"><img src="assets/twittericon.png" style="height: 36px; width: 36px;" hspace="7"></a>
	</div>

<div class="col-lg-1 col-md-1"></div>
</div>

<div class="footer col-lg-12 col-md-12 col-xs-12">
	<div class="col-lg-6 col-md-6 col-xs-6">
	<%= link_to 'Ruby Knights', root_path, class: 'navbar-brand logoFooter' %>
	</div>
	<div class="col-lg-6 col-md-6 col-xs-6">
	<a href="https://github.com/Ruby-Knights-of-the-Round-Table/chess"><img src="assets/githubfooter.png" align="right" style="width: 60px; height: 60px;"></a>
</div>
