/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */
/* Banner Hero Image */
.hero {
    width: 100%;
    /*background-image: url('http://www.delwinvriend.com/examples/hero/hero.jpg');*/
    background-size: auto 100%;
    background-position: center top;
    background-repeat: no-repeat;

}
.hero_spacer {
   width: 100%;
   max-width: 100%;
   margin: 0 auto;

}
.hero_spacer img {
    width: 100%;
}

.hero2 {
	margin-top: -25px;
}

/* About Section */
.about {
  margin-top: 30px;
  margin-bottom: -30px;
}

.abouttitle {
  font-size: 3.1em;
  font-family: arial black;
}
.aboutdescription {
  font-size: 1.5em;
  font-family: arial;
}

/* CODE Section */
.code {
  margin-top: 75px;
  background-color: #cfcfd1;
}
.breakdown {
  margin-top: -10px;
}

.codebox {
  border-width: 5px;
  border-color: black;
  border-style: solid;
  height: 400px;
}

.snippettitle {
  font-family: arial black;
  font-size: 2em;
  color: black;
}
.snippetdescription {
  font-family: arial;
  font-size: 2em;
  color: white;
}

/* SNIPPETS SECTION 1 */
.codesnippet1 {
  border-width: 10px;
  border-color: #51d6ff;
  border-style: solid;
  height: 700px;
  background-color: #51d6ff;
}

/* SNIPPETS SECTION 2 */
.codebox2 {
  border-width: 5px;
  border-color: black;
  border-style: solid;
  height: 700px;
}
.codesnippet2 {
  border-width: 10px;
  border-color: #e24700;
  border-style: solid;
  height: 700px;
  background-color: #e24700;
}

.codesnippet {
  border-width: 10px;
  border-color: #51d6ff;
  border-style: solid;
  height: 480px;
  background-color: #272822;
}
.codesnippetright {
  border-width: 10px;
  border-color: #51d6ff;
  border-style: solid;
  height: 480px;
  background-color: #51d6ff;
}

.codesnippet3 {
  border-width: 10px;
  border-color: #e24700;
  border-style: solid;
  height: 700px;
  background-color: #272822;
}


/* Tools Section */
.skills {
  color: black;
}


/* FOOTER TEAM SECTION */
.team {
  padding-bottom: 25px;
  background-color: #51d6ff;
}
.footer {
  padding-top: 5px;
  height: 75px;
  background-color: white;
}
.logoFooter {
  line-height: -30px;
}

/*Sign up - log in - create a game page*/
.page_wrapper {
  padding: 3em;
  width: 100%;
  border-radius: 0.35em;
}
  input[type="text"], input[type="email"], input[type="password"], textarea {
  width: 90%;
  border: 1px solid #d6dce0;
  border-radius: .35em;
  margin-top: 10px;
  padding: .5em 1em;
  line-height: 1.75;
}

/* Dashboard Page */
.dashtitle {
  font-size: 60px;
}
.playeremail {
  font-family: monospace;
}
.game_list_item {
    padding: 2em 2em 1em 2em;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: .5em;
    background-color: #dddddd;
    text-align: center;
}
.gamesTitle {
  font-size: 40px;
  text-align: center;
  padding-bottom: 30px;
  padding-left: 100px;
}
.dashButton {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: white;
  font-size: 20px;
  background: #51d6ff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.dashButton:hover {
  background: #3cb0fd;
  text-decoration: none;
}
.dashButton a {
  color: white;
}

/* Navbar */
.navbar-brand {
  font-family: impact;
  font-size: 25px;
  letter-spacing: .01in;
}
