// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#board {
  margin: auto;
  border: 4px solid #593c20;
  background: #ffbf70;
}

#board td {
  width: 60px;
  height: 60px;
  // border: 0.5px solid black;
  text-align: center; // Aligns unicode chess pieces properly
  font-size: 25px; // Unicode character size can be adjusted here
}

#board tr:nth-child(odd) td:nth-child(even), #board tr:nth-child(even) td:nth-child(odd) {
  background: #bf7930; //Darker color (bottom left corner)
}

.glowing-border {
    border: 2px solid green;
    border-radius: 7px;
}

.glowing-border:focus { 
    outline: none;
    border-color: green;
    box-shadow: 0 0 10px #9ecaed;
}


