// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#board {
  margin: auto;
  border: 4px solid #593c20;
  background: #ffbf70;
}

#board td {
  width: 60px;
  height: 60px;
  // border: 0.5px solid black;
  text-align: center; // Aligns unicode chess pieces properly
  font-size: 30px; // Unicode character size can be adjusted here
}

#board tr:nth-child(odd) td:nth-child(even), #board tr:nth-child(even) td:nth-child(odd) {
  background: #bf7930; //Darker color (bottom left corner)
}

#selected {
  border: 4px solid green;
  border-radius: 7px;
}

#selected a {
  color: #000;
  text-decoration: none;
}

#selectable:hover{
  border: 2px solid green;
  border-radius: 7px;
}

#selectable a {
  color: #000;
  text-decoration: none;
}

#not-selectable a {
  color: #000;
  text-decoration: none;
}

.highlighted {
  border: 4px solid green;
  border-radius: 7px;
}

.button_to {
  width: 100%;
  background-color: transparent;
  border: none;
  background: none;
}

.button_to:focus {
  outline: none;
}
